<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="form" class="container">
    <form method="post" th:action="@{/dodaj_opis_zadania/{id}(id=${taskListId})}" th:object="${taskDescription}">

        <div th:replace="shared/inputs :: input_with_errors(type='text', fieldName='name', fieldValue=*{name}, name='Nazwa', labelClass='col-sm-3', divClass='col-sm-9' )"></div>
        <div th:replace="shared/inputs :: textarea_with_errors(fieldName='content', fieldValue=*{content}, name='Opis zadania' )"></div>
        <div class="form-check">
            <label class="form-check-label" th:for="${#ids.next('personal')}">
                <input class="form-check-input" type="checkbox" th:field="*{personal}"/>
                Prywatne zadanie
            </label>
            <div class="invalid-feedback">
                <p th:if="${#fields.hasErrors('personal')}" th:errors="*{personal}"></p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>


</html>
