<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="form(link, button_name)" class="container">
    <form th:action="${link}" th:object="${groupForm}" method="post">
        <div th:replace="shared/inputs :: input_with_errors(type='text', fieldName='name', fieldValue=*{name}, name='Nazwa', labelClass='col-sm-3', divClass='col-sm-9' )"></div>
        <div th:replace="shared/inputs :: input_with_errors(type='password', fieldName='password', fieldValue=*{password}, name='Hasło', labelClass='col-sm-3', divClass='col-sm-6' )"></div>
        <div th:replace="shared/inputs :: textarea_with_errors(fieldName='description', fieldValue=*{description}, name='Opis grupy' )"></div>
        <button type="submit" class="btn btn-primary" th:text="${button_name}">Dodaj</button>
    </form>
</div>

</html>
