<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:replace="shared/head :: head('Sprawdzarka UWr: Utwórz opis zadania')"></div>

<body>

<!-- Navigation -->
<div th:replace="shared/head :: header"></div>

<main role="main" class="container">

    <div class="card mx-10 my-4">
        <h5 class="card-header">Utwórz opis zadania</h5>
        <div class="card-body">
            <form method="POST" th:action="@{/dodaj_opis_zadania}" th:object="${taskDescription}">

                <div class="form-group">
                    <label for="nameTask">Nazwa</label>
                    <input type="text" class="form-control" id="nameTask" th:field="*{name}"/>
                </div>

                <div class="form-group">
                    <label for="descriptionTask">Treść zadania:</label>
                    <textarea class="form-control" id="descriptionTask" rows="5" th:field="*{content}"></textarea>
                </div>

                <div class="form-check">
                    <label class="form-check-label" th:for="${#ids.next('personal')}">
                        <input class="form-check-input" type="checkbox" th:field="*{personal}"/>
                        Prywatne zadanie?
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Dodaj</button>
            </form>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

</body>
</html>
