<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:replace="shared/head :: head(${'Sprawdzarka UWr: Nowa lista'})"></div>

<body>

<!-- Navigation -->
<div th:replace="shared/head :: header"></div>

<main role="main" class="container">
    <div class="card mx-10 my-4">
        <h5 class="card-header">Nowa lista</h5>
        <div class="card-body">
            <form th:action="@{/listy/dodaj_liste}" th:object="${list}">

                <div class="form-group">
                    <label class="col-form-label" for="nameGroup">Nazwa:</label>
                    <input type="text" class="form-control" id="nameGroup" th:field="*{name}"/>
                </div>

                <div class="form-group">
                    <label for="descriptionGroup">Opis listy:</label>
                    <textarea class="form-control" id="descriptionGroup" rows="3" th:field="*{description}"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Dodaj</button>
            </form>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

</body>
</html>
