<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="form" class="container">
    <form th:action="@{/wyslij_zadanie/{id}(id=${task.id})}" method="post" th:object="${solutionForm}">
        <div class="form-group">
            <label for="solution">Wklej kod programu</label>
            <textarea th:field="*{solution}" class="form-control" data-code="#output" id="solution"
                      rows="10"></textarea>

            <pre class="prettyprint" id="output"></pre>
        </div>

        <div class="form-group row">
            <label for="language" class="col-4 col-form-label">Język programowania</label>
            <div class="col-4">
                <select th:field="*{language}" id="language" class="form-control">
                    <option th:each="selectedLanguage : ${languages}"
                            th:value="${selectedLanguage}"
                            th:text="${selectedLanguage.name}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="comment">Komentarz</label>
            <textarea th:field="*{comment}" class="form-control" id="comment" rows="2"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Wyślij</button>
    </form>
</div>

</body>
</html>

