.logo {
    background-color: #00709E !important;
}

.card-header {
    background-color: #FFF;
}

.card-header.tab {
    background-color: #F7F7F7 !important;
}

.breadcrumb {
    background-color: #fff !important;
}

.nav-link.disabled {
    cursor: not-allowed;
}

.hidden {
    display: none;
}