<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="shared/container :: common_container(header = ~{::div#header},body = ~{::div#body})">
    <div id="header" th:remove="tag">
        <div style="font-size: 1rem !important;">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#private" role="tab"
                       aria-selected="true">
                        Prywatne
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#public" role="tab" aria-selected="true">
                        Publiczne
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="body" th:remove="tag">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-light effect7" role="alert">
                    Poniżej znajdują się gotowe treści zadań zdefiniowane wcześniej przez kogoś innego.
                    W tym momencie możesz wybrać jedno z gotowych zadań znajdujących się na dole lub
                    dodać własną treść zadania
                    przechodząc do
                    <a href="#" data-toggle="modal" data-target="#add_task_description_form">tego okna</a>.
                    Ten tekst jest oczywiście do zmiany.
                </div>
            </div>
        </div>

        <th:block th:replace="shared/fragments :: modal(id='add_task_description_form', header = ~{::div#modal_header},body = ~{::div#modal_body}, modalDialogClass = 'modal-lg')">
            <div id="modal_header">
                <th:block>Zdefiniuj treść nowego zadania</th:block>
            </div>
            <div id="modal_body">
                <div th:replace="forms/modal/add_task_description :: form"></div>
            </div>
        </th:block>

        <div class="tab-pane fade show active" id="private" role="tabpanel">

            <th:block th:if="${#lists.isEmpty(taskDescriptions.?[user.email == #authentication.name])}">
                <div th:replace="shared/fragments :: default_info(message='Brak opisów zadań')"></div>
            </th:block>

            <div class="card my-4" th:each="task:${taskDescriptions.?[user.email == #authentication.name]}">
                <div role="tablist">
                    <div th:replace="shared/card_task_description :: title(task=${task})"></div>
                    <div th:replace="shared/card_task_description :: description(task=${task})"></div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="public" role="tabpanel">

            <th:block
                    th:if="${#lists.isEmpty(taskDescriptions.?[user.email != #authentication.name and not(personal)])}">
                <div th:replace="shared/fragments :: default_info(message='Brak opisów zadań')"></div>
            </th:block>

            <div class="card my-4"
                 th:each="task:${taskDescriptions.?[user.email != #authentication.name and not(personal)]}">
                <div role="tablist">
                    <div th:replace="shared/card_task_description :: title(task=${task})"></div>
                    <div th:replace="shared/card_task_description :: description(task=${task})"></div>
                </div>
            </div>

        </div>

    </div>
</th:block>

</html>