<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="shared/container :: common_container(header = ~{::div#header},body = ~{::div#body})">
    <div id="header" th:remove="tag">
        <th:block>Gotowe opisy zadań</th:block>
        <div>
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#private" role="tab"
                       aria-selected="true">
                        Prywatne
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#public" role="tab" aria-selected="true">
                        Publiczne
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="body" th:remove="tag">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-light" role="alert">
                    Poniżej znajdują się gotowe treści zadań zdefiniowane wcześniej przez kogoś innego.
                    W tym momencie możesz wybrać jedno z gotowych zadań znajdujących się na dole lub
                    dodać własną treść zadania
                    przechodząc do
                    <a href="#" data-toggle="modal" data-target=".bd-example-modal-sm">tego okna</a>.
                    Ten tekst jest oczywiście do zmiany.
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <th:block class="modal-title" id="exampleModalLongTitle">Zdefiniuj treść nowego
                            zadania
                        </th:block>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div th:replace="forms/modal/add_task_description :: form"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade show active" id="private" role="tabpanel">

            <th:block th:if="${#lists.isEmpty(taskDescriptions.?[user.email == #authentication.name])}">
                <div th:replace="shared/fragments :: default_info(message='Brak opisów zadań')"></div>
            </th:block>

            <div class="card my-4" th:each="task:${taskDescriptions.?[user.email == #authentication.name]}">
                <div role="tablist">
                    <div th:replace="shared/card_task_description :: title(task=${task})"></div>
                    <div th:replace="shared/card_task_description :: description(task=${task})"></div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="public" role="tabpanel">

            <th:block
                    th:if="${#lists.isEmpty(taskDescriptions.?[user.email != #authentication.name and not(personal)])}">
                <div th:replace="shared/fragments :: default_info(message='Brak opisów zadań')"></div>
            </th:block>

            <div class="card my-4"
                 th:each="task:${taskDescriptions.?[user.email != #authentication.name and not(personal)]}">
                <div role="tablist">
                    <div th:replace="shared/card_task_description :: title(task=${task})"></div>
                    <div th:replace="shared/card_task_description :: description(task=${task})"></div>
                </div>
            </div>

        </div>

    </div>
</th:block>

</html>