<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:replace="shared/head :: head(title='Sprawdzarka UWr: Opisy zadań')"></div>

<body>

<!-- Navigation -->
<div th:replace="shared/head :: header"></div>

<!--Page Content-->
<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card mx-10">

                <h5 class="card-header">Gotowe opisy zadań</h5>

                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#private" role="tab"
                               aria-selected="true">
                                Prywatne
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#public" role="tab" aria-selected="true">
                                Publiczne
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="card-body">
                    <div class="tab-content col-12 align-self-center">

                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-light" role="alert">

                                    Poniżej znajdują się gotowe treści zadań zdefiniowane wcześniej przez kogoś innego.
                                    W tym momencie możesz wybrać jedno z gotowych zadań znajdujących się na dole lub
                                    dodać własną treść zadania
                                    przechodząc do
                                    <a href="#" data-toggle="modal" data-target=".bd-example-modal-sm">tego okna</a>.
                                    Ten tekst jest oczywiście do zmiany.
                                </div>
                            </div>
                        </div>

                        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                             aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Zdefiniuj treść nowego
                                            zadania</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div th:replace="forms/add_task_description :: form"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show active" id="private" role="tabpanel">

                            <th:block th:if="${#lists.isEmpty(taskDescriptions.?[user.email == #authentication.name])}">
                                <div th:replace="shared/fragments :: default_info(message='Brak opisów zadań')"></div>
                            </th:block>

                            <div class="card my-4"
                                 th:each="task:${taskDescriptions.?[user.email == #authentication.name]}">
                                <div role="tablist">
                                    <div th:replace="shared/card_task_description :: title(task=${task})"></div>
                                    <div th:replace="shared/card_task_description :: description(task=${task})"></div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="public" role="tabpanel">

                            <th:block
                                    th:if="${#lists.isEmpty(taskDescriptions.?[user.email != #authentication.name and not(personal)])}">
                                <div th:replace="shared/fragments :: default_info(message='Brak opisów zadań')"></div>
                            </th:block>

                            <div class="card my-4"
                                 th:each="task:${taskDescriptions.?[user.email != #authentication.name and not(personal)]}">
                                <div role="tablist">
                                    <div th:replace="shared/card_task_description :: title(task=${task})"></div>
                                    <div th:replace="shared/card_task_description :: description(task=${task})"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

</body>
</html>