<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:replace="shared/head :: head"></div>

<body>

<!--Navigation -->
<div th:replace="shared/head :: header"></div>

<!-- Page Content -->
<main role="main" class="container">
    <div class="container">
        <div class="jumbotron">
            <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
            <h1 class="text-center">404 Not Found</h1>

            <p class="text-center">Skontaktuj się z administratorem lub spróbuj ponownie.<br/>
                Użyj przycisku Wstecz w przeglądarce, aby przejść do strony poprzedniej lub kliknij przycisk poniżej.
            </p>
            <p class="text-center"><a class="btn btn-primary" href="#"><i class="fa fa-home"></i> Strona główna</a></p>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

</body>
</html>
