<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<!-- Head -->
<div th:replace="shared/head :: head (${'Sprawdzarka UWr: Grupy'})"></div>

<body>

<!-- Navigation -->
<div th:replace="shared/head :: header"></div>

<!--Page Content-->
<main role="main" class="container">
    <div class="row">

        <!-- Groups cards -->
        <div class="col-md-8">

            <div class="card my-4" th:each="group,iter:${groups}">
                <div role="tablist">
                    <div th:replace="shared/card :: groupTitle(${group},${iter.index})"></div>
                    <div th:replace="shared/card :: description(${group},${iter.index})"></div>
                    <div th:replace="shared/card :: author(${group})"></div>
                </div>
            </div>

            <!-- Pagination -->
            <div th:replace="shared/pagination :: home(${'Poprzednie'},${'Następne'})"></div>
        </div>
        <div class="col-md-4">
            <!-- Settings Widget -->
            <div class="card my-4">
                <h5 class="card-header">Ustawienia</h5>
                <div class="card-body p-0">
                    <div class="list-group">
                        <a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/grupy/dodaj_grupe}" class="list-group-item list-group-item-action">
                            Dodaj nową grupe
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- PasswordGroup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Zamknij</span></button>
                <h4 class="modal-title" id="myModalLabel">Zapis</h4>
            </div>
            <div class="modal-body">
                <p>
                <form role="form">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input class="form-control" type="password" placeholder="Hasło"/>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">Zaloguj</button>
                </form>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

</body>
</html>