<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Head -->
<div th:replace="shared/head :: head(title='Sprawdzarka UWr: Listy zadań')"></div>

<body>

<!-- Navigation -->
<div th:replace="shared/head :: header"></div>

<!--Page Content-->
<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card mx-10">

                <h5 class="card-header" th:text="'Grupa: '+${group.name}">Grupa</h5>

                <div class="card-body">
                    <div class="tab-content col-12 align-self-center">

                        <div class="row">
                            <div class="col"><a th:text="${group.description}"></a></div>
                            <div class="col">
                                <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="clearfix">
                                    <a th:href="@{/dodaj_liste/{id}(id = ${group.id})}">
                                        <div class="btn btn-primary float-right btn-sm">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Dodaj listę
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <th:block th:if="${#lists.isEmpty(taskList)}">
                            <div th:replace="shared/fragments :: default_info(message='Brak dostępnych list')"></div>
                        </th:block>

                        <div class="card my-4" th:each="list:${taskList}">
                            <div role="tablist">
                                <div th:replace="shared/card_list :: title(list=${list})"></div>
                                <div th:replace="shared/card_list :: description(list=${list})"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

</body>
</html>