<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<!--Page Content-->

<th:block th:replace="shared/container :: common_container(header = ~{::div#header},body = ~{::div#body}, withoutCard=true)">

    <div id="header" th:remove="tag">
        <div class="row">
            <div class="col-8">
                <th:block th:text="${group.name}">Przegląd grup</th:block>
            </div>

            <div class="col-4">
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">

                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">

                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_list_form">Dodaj listę</button>
                        </div>

                        <div class="btn-group" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ustawienia grupy</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#edit_group_form">Edytuj</button>
                                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#delete_group_form">Usuń</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="body" th:remove="tag">
        <div class="row">
            <div class="col-10"><a th:text="${group.description}"></a></div>
        </div>

        <th:block th:if="${#lists.isEmpty(taskList)}">
            <div th:replace="shared/fragments :: default_info(message='Brak dostępnych list')"></div>
        </th:block>

        <div class="card my-4" th:each="list:${taskList}">
            <div role="tablist">
                <div th:replace="shared/card_list :: title(list=${list})"></div>
                <div th:replace="shared/card_list :: description(list=${list})"></div>
            </div>
        </div>

        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
            <th:block th:replace="shared/fragments :: modal(id='add_list_form', header = ~{::div#add_list_modal_header},body = ~{::div#add_list_modal_body})">
                <div id="add_list_modal_header">
                    <th:block>Tworzenie nowej listy</th:block>
                </div>
                <div id="add_list_modal_body">
                    <div th:replace="forms/modal/add_list :: form"></div>
                </div>
            </th:block>

            <th:block th:replace="shared/fragments :: modal(id='edit_group_form', header = ~{::div#edit_group_modal_header},body = ~{::div#edit_group_modal_body})">
                <div id="edit_group_modal_header">
                    <th:block>Edycja grupy</th:block>
                </div>
                <div id="edit_group_modal_body">
                    <div th:replace="forms/modal/group :: form(link= @{/edytuj_grupe/{id}(id = ${group.id})}, button_name = 'Edytuj')"></div>
                </div>
            </th:block>

            <th:block th:replace="shared/fragments :: modal(id='delete_group_form', header = ~{::div#delete_group_modal_header},body = ~{::div#delete_group_modal_body}, footer = ~{::div#delete_group_modal_footer})">
                <div id="delete_group_modal_header">
                    <th:block>Usuwanie grupy</th:block>
                </div>
                <div id="delete_group_modal_body">
                    Czy jesteś pewien, że chcesz usunąć grupe: <b><a th:text="${group.name}"></a></b>? Wszystkie dane zostaną usunięte!
                </div>
                <div id="delete_group_modal_footer">
                    <a class="btn btn-danger" th:href="@{/usun_grupe/{id}(id = ${group.id})}" role="button">Ok</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                </div>
            </th:block>
        </div>

    </div>
</th:block>
</html>