<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:replace="shared/head :: head(${'Sprawdzarka UWr'})"></div>

<body>

<!--Navigation -->
<div th:replace="shared/head :: header"></div>

<!-- Page Content -->
<main role="main" class="container">
    <h1 class="my-4"> Strona główna
        <small>- sprawdzarka</small>
    </h1>

    <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Otwarcie serwera</h2>
            <p class="card-text"> Witamy w nowym systemie rozwiązywania zadań. W razie problemów proszę o kontakt pod
                adresem -@ii.uni.wroc.pl </p>
        </div>
        <div class="card-footer text-muted">
            Dodany: 3 grudzień 2017 przez
            <a href="#">Admin</a>
        </div>
    </div>

    <!-- Pagination -->
    <div th:replace="shared/pagination :: home(${'Nowsze'},${'Starsze'})"></div>
</main>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

</body>
</html>
