<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:replace="shared/head :: head"></div>

<body>

<!-- Navigation -->
<div th:replace="shared/head :: header"></div>

<!--Page Content-->
<main role="main" class="container">
    <div class="row">

        <!-- Groups cards -->
        <div class="col-md-8">

            <div class="card my-4">
                <div role="tablist">
                    <div th:each="list,iter:${lists}">
                        <div th:replace="shared/card :: listTitle(${list},${iter.index})"></div>
                        <div th:replace="shared/card :: description(${list},${iter.index})"></div>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div th:replace="shared/pagination :: home(${'Poprzednie'},${'Następne'})"></div>

        </div>

        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Szukaj</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" placeholder="Szukaj po..." type="text"/>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Settings Widget -->
            <div class="card my-4">
                <h5 class="card-header">Ustawienia</h5>
                <div class="card-body">
                    <div class="list-group">
                        <a th:href="@{/listy/dodaj_liste}" class="list-group-item list-group-item-action">
                            Dodaj nową liste
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

</body>
</html>