<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:replace="shared/head :: head"></div>

<body>

<!-- Navigation -->
<header>
    <div th:replace="shared/header :: navigationGuest(${' '})"></div>
    <div th:replace="shared/header :: logo"></div>
</header>


<main role="main" class="container">
    <!-- Panel Registration -->
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card mx-10 my-4">
                <h5 class="card-header">Rejestracja</h5>
                <div class="card-body">
                    <form th:action="@{/registration}" th:object="${userForm}" method="post">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Imię</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"  th:field="*{firstname}" placeholder="imie"/>
                                <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">username error</td>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Nazwisko</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"  th:field="*{secondname}" placeholder="imie"/>
                                <td th:if="${#fields.hasErrors('secondname')}" th:errors="*{secondname}">username error</td>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" th:field="*{email}" placeholder="Email"/>
                                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</td>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Hasło</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" th:field="*{password}" placeholder="Hasło"/>
                                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</td>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Powtórz hasło</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" th:field="*{passwordConfirm}" placeholder="Powtórz hasło"/>
                                <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">passwordConfirm error</td>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary pull-right">Zarejestruj</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

</body>
</html>
