<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:replace="shared/head :: head(${'Sprawdzarka UWr: Rozwiąż zadanie'})"></div>

<body>

<!-- Navigation -->
<div th:replace="shared/head :: header"></div>

<!--Page Content-->
<main role="main" class="container">
    <div class="row">

        <!-- Description task -->
        <div class="col-md-8">
            <div class="card my-4">
                <h5 class="card-header">Opis zadania</h5>
                <div th:text="${task.taskDescription.content}" class="card-body"></div>
            </div>

        </div>

        <div class="col-md-4">

            <!-- Form with solution -->
            <div class="card my-4">
                <h5 class="card-header">Rozwiązanie</h5>
                <div class="card-body">
                    <form method="post" th:object="${solution}">
                        <div class="form-group">
                            <label for="loadFile">Wybierz plik</label>
                            <input id="loadFile" class="input-file" type="file" th:field="*{solution}"/>
                        </div>

                        <div class="form-group">
                            <label for="language">Język programowania</label>
                            <select id="language" class="form-control" th:field="*{language}">
                                <option th:each="selectedLanguage : ${languages}"
                                        th:value="${selectedLanguage}"
                                        th:text="${selectedLanguage}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="comment">Komentarz:</label>
                            <textarea class="form-control" id="comment" rows="2" th:field="*{comment}">
                            </textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Wyślij</button>
                    </form>
                </div>
            </div>

            <!-- Comments of task-->
            <div class="card my-4">
                <h5 class="card-header">Podpowiedź</h5>
                <div class="card-body p-1">
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${task.comment}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

</body>
</html>