<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Head -->
<div th:replace="shared/head :: head('Sprawdzarka UWr: Zadania')"></div>

<body>

<!-- Navigation -->
<div th:replace="shared/head :: header"></div>

<!--Page Content-->
<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card mx-10">

                <h5 class="card-header" th:text="${task.name}">Grupa</h5>

                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#taskDescription" role="tab"
                               aria-selected="true">
                                Szczegóły zadania
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#taskSolution" role="tab"
                               aria-selected="true">
                                Prześlij rozwiązanie
                            </a>
                        </li>
                        <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#taskTest" role="tab" aria-selected="true">
                                Specyfikacja zadania
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content col-12 align-self-center">

                        <div class="tab-pane fade show active" id="taskDescription" role="tabpanel">
                            <div th:if="${task.comment != ''}" class="card mb-4">
                                <div class="card-body">
                                    <blockquote class="blockquote">
                                        <div th:text="${task.comment}"></div>
                                        <footer class="blockquote-footer text-right"><span
                                                th:text="${task.user.firstname}">Admin</span></footer>
                                    </blockquote>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-7">
                                    <div th:text="${task.taskDescription.content}"></div>
                                </div>
                                <div class="col-5">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Termin <strong
                                                th:text="${#calendars.format(task.deadline,'dd MMMM hh:mm')}">2018-02-01
                                            17:23</strong>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Wysłanych rozwiązań
                                            <span class="badge badge-primary badge-pill"
                                                  th:text="${solutions.size()}">1</span>
                                        </li>
                                        <li class="list-group-item ">
                                            <div class="progress" data-toggle="tooltip" data-placement="top"
                                                 title="Zdobytych punktów">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                     style="width: 60%" aria-valuenow="30" aria-valuemin="0"
                                                     aria-valuemax="100">60%
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>


                        </div>

                        <div class="tab-pane fade" id="taskSolution" role="tabpanel">

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Przesylanie nowego
                                                zadania</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div th:replace="forms/solution_form :: form"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                                    data-target="#exampleModal">
                                Prześlij rozwiązanie
                            </button>


                            <div class="mt-4">
                                <div th:replace="shared/task/history :: history"></div>
                            </div>
                        </div>

                        <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="tab-pane fade" id="taskTest"
                             role="tabpanel">
                            <div class="row">
                                <div class="col-8">
                                    <div th:replace="shared/task/tests :: tests"></div>
                                </div>
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Dostępne języki</h4>
                                            <form>
                                                <div class="mt-4 p-3">
                                                    <div class="form-group" th:each="language:${allPossibleLanguages}">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                   checked="true"/>
                                                            <label class="form-check-label"
                                                                   th:text="${language.name}">
                                                                C
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Zaktualizuj</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="shared/footer :: copy"></div>

<!-- Bootstrap core JavaScript -->
<div th:replace="shared/head :: script"></div>

<script type="text/javascript">
    $('#test-modal').on('show.bs.modal', function (event) {
        var myVal = $(event.relatedTarget).data('val');
        var myId = $(event.relatedTarget).data('id');
        $(this).find(".modal-body").text(myVal);
        $(this).find(".modal-title").text(myId);
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })















</script>

</body>
</html>