<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<body>

<th:block th:fragment="tab(task, solutions)">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div th:utext="${task.taskDescription.content}"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">

            <div th:if="${task.comment != ''}" class="card mb-4">
                <div class="card-header tab font-weight-bold">
                    <th:block>Komentarz od admina</th:block>
                </div>
                <div class="card-body">
                    <div th:utext="${task.comment}"></div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header tab font-weight-bold">
                    <th:block>Ostatnie rozwiązanie</th:block>
                </div>
                <div class="card-body">
                    <div id="loader" class="text-center"></div>
                    <div id="last_solution" class="text-center" th:if="${lastSolution}">
                        <th:block th:include="shared/fragments :: date_format_small(date = ${lastSolution.DateOfSending})">Data</th:block>
                        <div class="m-3" th:include="shared/fragments :: progress_bar(scores = ${lastSolution.scores})">progress bar</div>
                        <th:block th:unless="${lastSolution.scores.isEmpty()}" th:replace="shared/tables :: scores(scores=${lastSolution.scores})">Tabela z wynikami</th:block>
                        <th:block th:if="${lastSolution.scores.isEmpty()}" th:include="shared/fragments :: default_info(message='Nie ma żadnych wyników w bazie')">Tabela z wynikami</th:block>
                    </div>
                    <div th:unless="${lastSolution}" th:include="shared/fragments :: default_info(message='Nie wyslałeś jeszcze żadnego rozwiązania')">
                        Jeszcze nie wysłaleś swojego rozwiązania
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>


</body>
</html>