<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="form" class="row justify-content-center">
    <div class="col-md-6">
        <form th:action="@{/wyslij_zadanie/{id}(id=${task.id})}" method="post" th:object="${solutionForm}">
            <div class="form-group">
                <label for="solution">Wklej kod programu</label>
                <textarea th:field="*{solution}" class="form-control" id="solution" rows="2"></textarea>
            </div>

            <div class="form-group">
                <label for="language">Język programowania</label>
                <select th:field="*{language}" id="language" class="form-control">
                    <option th:each="selectedLanguage : ${languages}"
                            th:value="${selectedLanguage.id}"
                            th:text="${selectedLanguage.name}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="comment">Komentarz:</label>
                <textarea th:field="*{comment}" class="form-control" id="comment" rows="2"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
    </div>
</div>

</body>
</html>