<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="tests">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Argumenty wejściowe</th>
            <th scope="col">Argumenty wyjściowe</th>
            <th scope="col">Wymagany czas</th>
            <th scope="col">Punkty</th>
            <th scope="col">Typ testu</th>
            <th scope="col">Operacja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="test,testIter: ${tests}">
            <th scope="row" th:text="${testIter.index}">0</th>
            <td>
                <a th:if="${#strings.length(test.inputArgument)} > 100"
                   th:href="@{/testy/{id}/argumenty_wejsciowe (id = ${test.id})}">
                    <div class="btn btn-light btn-sm">
                        Wyświetl
                    </div>
                </a>
                <div th:unless="${#strings.length(test.inputArgument)} > 100"
                     th:attrappend="data-val=${test.inputArgument}" data-id='Argumenty wejściowe'
                     class="btn btn-light btn-sm" data-toggle="modal" data-target="#test-modal">Wyświetl
                </div>
            </td>
            <td>
                <a th:if="${#strings.length(test.expectedAnswer)} > 100"
                   th:href="@{/testy/{id}/oczekiwana_odpowiedz (id = ${test.id})}">
                    <div class="btn btn-light btn-sm">
                        Wyświetl
                    </div>
                </a>
                <div th:unless="${#strings.length(test.expectedAnswer)} > 100"
                     th:attrappend="data-val=${test.expectedAnswer}" data-id='Oczekiwana odpowiedź'
                     class="btn btn-light btn-sm" data-toggle="modal" data-target="#test-modal">Wyświetl
                </div>
            </td>
            <td th:text="${test.timeRequired}"></td>
            <td th:text="${test.point}"></td>
            <td th:text="${test.type}"></td>
            <td>
                <a th:href="@{'/usun_test/'+${task.id}+'/'+${test.id}}">
                    <div class="btn btn-light btn-sm">
                        Usuń
                    </div>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{'/dodaj_test/'+${task.id}}">
        <div class="btn btn-primary btn-sm">
            Dodaj test
        </div>
    </a>

    <div class="modal fade" id="test-modal" tabindex="-1" role="dialog" aria-labelledby="test-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>