<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<body>

<th:block th:fragment="tab(tests, allPossibleLanguages)">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-8">

            <div class="card mb-4">

                <th:block th:unless="${tests.isEmpty()}" th:include="shared/tables :: tests(tests = ${tests})"/>
                <div class="card-body" th:if="${tests.isEmpty()}" th:include="shared/fragments :: default_info(message='Nie zostały zdefiniowane żadne testy')"></div>
            </div>

            <th:block th:replace="shared/fragments :: modal(id='add_test_form', header = ~{::div#modal_header},body = ~{::div#modal_body})">
                <div id="modal_header">
                    <th:block>Dodawanie testu</th:block>
                </div>
                <div id="modal_body">
                    <div th:replace="forms/modal/add_test :: form"></div>
                </div>
            </th:block>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <button type="button" class="btn btn-primary mb-4 btn-lg btn-block" data-toggle="modal" data-target="#add_test_form">
                Dodaj test
            </button>

            <div class="card">
                <div class="card-header font-weight-bold">
                    Dostępne języki
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group mx-4" th:each="this_language:${allPossibleLanguages}">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" th:checked="${this_language.value}"/>
                                <label class="form-check-label" th:text="${this_language.key.name}">C</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Zaktualizuj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>