<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<!--List title-->
<div th:fragment="title(list)" class="card-header tab" role="tab">

    <a th:text="'Lista: ' + ${list.name}" data-toggle="collapse" th:href="'#collapse' + ${list.id}" aria-expanded="true"
       aria-controls="collapseOne"></a>

    <div th:if="${#authentication.name} == ${group.user.email}" class="btn-group ml-1 pull-right">
        <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Ustawienia
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Edytuj</a>
            <a class="dropdown-item" href="#">Usuń</a>
        </div>
    </div>
    <a th:href="@{/dodaj_zadanie_do_listy/{id}(id=${list.id})}">
        <div th:if="${#authentication.name} == ${group.user.email}" class="btn btn-outline-dark btn-sm pull-right ml-1">
            Dodaj zadanie
        </div>
    </a>

</div>

<!-- Description -->
<div th:fragment="description(list)" th:id="'collapse'+${list.id}" class="collapse" role="tabpanel">
    <div class="card-body">

        <p class="card-text" th:text="${list.description}"></p>

        <ol>
            <div th:each="task:${list.getTasks()}">
                <li>Zadanie: <a th:text="${task.taskDescription.name}"
                                th:href="@{/zadanie/{id} (id = ${task.id})}">Nazwa zadania</a></li>
            </div>
        </ol>

    </div>
</div>


</body>
</html>