<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
>
<body>

<div th:fragment="card(group,myGroup)" class=" card bg-light">
    <div class="card-body">
        <h5 class="card-title" th:text="${group.name}">Nazwa grupy</h5>
        <h6 th:unless="${#strings.isEmpty(group.password)}" class="card-subtitle mb-2 text-muted">Grupa
            prywatna</h6>
        <h6 th:if="${#strings.isEmpty(group.password)}" class="card-subtitle mb-2 text-muted">Grupa publiczna</h6>
        <p class="card-text"
           th:text="${#strings.length(group.description)}>100 ? ${#strings.substring(group.description,0,99)} + '...': ${group.description}">
            Opis grupy.</p>

        <div th:if="${myGroup} == 'true' ">
            <a class="mr-4" th:href="@{/grupa/{id}(id=${group.id})}">Wejdz</a>
            <a th:unless="${#authentication.name} == ${group.user.email}"
               th:href="@{/wypisz_z_grupy/{id}(id=${group.id})}">
                Wypisz
            </a>
        </div>

        <a th:unless="${myGroup} == 'true' " th:href="@{/zapisz_do_grupy/{id}(id=${group.id})}">
            Zapisz
        </a>

        <p class="card-text pull-right">
            <small class="text-muted">Dodane przez <span th:text="${group.user.firstname}"></span></small>
        </p>
    </div>
</div>

</body>
</html>