<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<!--List title-->
<div th:fragment="title(list)" class="card-header tab" role="tab">

    <a th:text="'Lista: ' + ${list.name}" data-toggle="collapse" th:href="'#collapse' + ${list.id}" aria-expanded="true"
       aria-controls="collapseOne"></a>

    <!--<div th:if="${#authentication.name} == ${group.user.email}" class="btn-group ml-1 pull-right">-->
    <!--<button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown"-->
    <!--aria-haspopup="true" aria-expanded="false">-->
    <!--Ustawienia-->
    <!--</button>-->
    <!--<div class="dropdown-menu">-->
    <!--<a class="dropdown-item" href="#">Edytuj</a>-->
    <!--<a class="dropdown-item" href="#">Usuń</a>-->
    <!--</div>-->
    <!--</div>-->
    <a th:href="@{/dodaj_zadanie_do_listy/{id}(id=${list.id})}">
        <div th:if="${#authentication.name} == ${group.user.email}" class="btn btn-outline-dark btn-sm pull-right ml-1">
            Dodaj zadanie
        </div>
    </a>

</div>

<!-- Description -->
<div th:fragment="description(list)" th:id="'collapse'+${list.id}" class="" role="tabpanel">
    <div class="card-body">

        <th:blockquote th:if="${#lists.isEmpty(list.getTasks())}">
            <div th:replace="shared/fragments :: default_info(message='Brak dostępnych zadań')"></div>
        </th:blockquote>

        <div th:each="task:${list.getTasks()}">
            <div class="row mb-2">
                <div class="col-7">
                    <a th:text="${task.name}" th:href="@{/zadanie/{id} (id = ${task.id})}">Nazwa zadania</a>
                </div>
                <div class="col-1">
                    <span class="badge badge-danger">JAVA</span>
                </div>
                <div data-toggle="tooltip" data-placement="top" th:title="${task.deadline}" class="col-4">
                    <div class="progress mt-1">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>