<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
>
<body>

<!--Group title - My Groups-->
<div th:fragment="myGroupTitle(group)" class="card-header tab" role="tab">
    <h5 class="mb-0">

        <i th:unless="${#strings.isEmpty(group.password)}" class="fa fa-lock" aria-hidden="true" data-toggle="tooltip"
           data-placement="left" title="Grupa chroniona hasłem"></i>
        <i th:if="${#strings.isEmpty(group.password)}" class="fa fa-unlock" aria-hidden="true" data-toggle="tooltip"
           data-placement="left" title="Grupa nie chroniona hasłem"></i>

        <a class="text-dark" data-toggle="collapse" th:href="'#collapse'+${group.id}" th:text="${group.name}"></a>

        <a th:href="@{/grupy/grupa/{id}(id=${group.id})}" class="btn btn-outline-dark btn-sm pull-right ml-1">Wejdz&rarr;</a>

        <a th:unless="${#authentication.name} == ${group.user.email}"
           th:href="@{/grupy/wypisz_z_grupy/{id}(id=${group.id})}" class="btn btn-outline-dark btn-sm pull-right ml-1">Wypisz </a>
    </h5>
</div>

<!--Group title - Available Group-->
<div th:fragment="groupTitle(group)" class="card-header tab" role="tab">
    <h5 class="mb-0">
        <i th:unless="${#strings.isEmpty(group.password)}" class="fa fa-lock" aria-hidden="true"
           title="Grupa chroniona hasłem"></i>
        <i th:if="${#strings.isEmpty(group.password)}" class="fa fa-unlock" aria-hidden="true"
           title="Grupa nie chroniona hasłem"></i>

        <a class="text-dark" data-toggle="collapse" th:href="'#collapse'+${group.id}" th:text="${group.name}"></a>

        <a th:href="@{/grupy/zapisz_do_grupy/{id}(id=${group.id})}" class="btn btn-outline-dark btn-sm pull-right ml-1">Zapisz </a>
    </h5>
</div>

<!-- Description -->
<div th:fragment="description(group)" th:id="'collapse'+${group.id}" class="collapse" role="tabpanel">
    <div class="card-body">
        <p class="card-text" th:text="${group.description}"></p>
    </div>
    <!-- Author -->
    <div class="card-footer text-muted">
        Dodano przez: <a href="#" th:text="${group.user.firstname}"></a>
    </div>
</div>


</body>
</html>