<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
>
<body>

<div th:fragment="my_group(group,myGroup)">
    <div class="card-body">
        <div class="float-right">
            <a th:href="@{/wypisz_z_grupy/{id}(id=${group.id})}" class="fa fa-sign-out" aria-hidden="true"></a>
        </div>
        <a class="font-weight-bold" th:href="@{/grupa/{id}(id=${group.id})}" th:text="${group.name}">Nazwa grupy</a>
        <p th:unless="${#strings.isEmpty(group.password)}" class="card-subtitle mb-2 text-muted">Grupa prywatna</p>
        <p th:if="${#strings.isEmpty(group.password)}" class="card-subtitle mb-2 text-muted">Grupa publiczna</p>


        <p class="card-text pull-right">
            <small class="text-muted">Dodane przez <span th:text="${group.user.firstname}"></span></small>
        </p>
    </div>
</div>

<div th:fragment="available_group(group)">
    <div class="card-body">
        <div class="float-right">
            <a class="fa fa-sign-in" th:href="@{/zapisz_do_grupy/{id}(id=${group.id})}" aria-hidden="true"></a>
        </div>
        <a class="font-weight-bold" th:text="${group.name}">Nazwa grupy</a>
        <p th:unless="${#strings.isEmpty(group.password)}" class="card-subtitle mb-2 text-muted">Grupaprywatna</p>
        <p th:if="${#strings.isEmpty(group.password)}" class="card-subtitle mb-2 text-muted">Grupa publiczna</p>
        <div class="card-text" th:utext="${#strings.length(group.description)}>100 ? ${#strings.substring(group.description,0,99)} + '...': ${group.description}">
            Opis grupy.
        </div>

        <p class="card-text pull-right">
            <small class="text-muted">Dodane przez <span th:text="${group.user.firstname}"></span></small>
        </p>
    </div>
</div>

</body>
</html>