<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<th:block th:fragment="default_info(message)">
    <p class="text-muted" th:text="${message}">.text-muted</p>
</th:block>


<th:block th:fragment="test_state(state)">
    <span data-toggle="tooltip" data-placement="right" th:text="${state}" th:title="${state.title}" th:classappend="${state.textClass}">
        RE
    </span>
</th:block>

<th:block th:fragment="test_timeFormat(time)">
    <span>
        <th:block th:text="${time}">150</th:block><small>ms</small>
    </span>
</th:block>

<th:block th:fragment="language_format(language)">
    <p class="badge" th:classappend="${language.badgeClass}" th:text="${language.name}">PHP</p>
</th:block>

<th:block th:fragment="date_format_small(date)">
    <small class="text-muted" th:text="${#calendars.format(date,'dd MMMM hh:mm')}">20 stycznia 12:23</small>
</th:block>

<th:block th:fragment="date_format_strong(date)">
    <strong th:text="${#calendars.format(date,'dd MMMM hh:mm')}">20 stycznia 12:23</strong>
</th:block>

<th:block th:fragment="progress_bar(scores)">
    <th:block th:with="value=${#aggregates.sum(scores.![point])},max=${#aggregates.sum(scores.![test.point])}, percent = ${max} ? ${value} * 100 / ${max} : 0">
        <div class="progress m-2" data-toggle="tooltip" data-placement="right" th:title="(${value} ? ${value} : 0) + '/' + (${max} ? ${max} : 0)">
            <th:block th:if="${percent}>=0 and ${percent}<25">
                <th:block th:replace=" :: progressbar(style = 'bg-danger')"></th:block>
            </th:block>
            <th:block th:if="${percent}>=25 and ${percent}<50">
                <th:block th:replace=" :: progressbar(style = 'bg-warning')"></th:block>
            </th:block>
            <th:block th:if="${percent}>=50 and ${percent}<75">
                <th:block th:replace=" :: progressbar(style = 'bg-info')"></th:block>
            </th:block>
            <th:block th:if="${percent}>=75 and ${percent}<=100">
                <th:block th:replace=" :: progressbar(style = 'bg-success')"></th:block>
            </th:block>
        </div>
    </th:block>
</th:block>

<div th:fragment="progressbar(style)" role="progressbar" th:class="'progress-bar text-dark '+${style}" th:attrappend="style='width: ' + ${percent} + '%;'" th:aria-valuenow="${value}" aria-valuemin="0" th:aria-valuemax="${max}"></div>

<div th:fragment="alert">
    <div class="alert" th:classappend="${type} ? alert-danger : alert-info">
        <span th:text="${alertMessage}">Informacja</span>
    </div>
</div>


<th:block th:fragment="modal(id, header, body)">
    <div class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" th:classappend="${modalDialogClass}">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <th:block th:replace="${header}"/>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <th:block th:replace="${body}"/>
                </div>
            </div>
        </div>
    </div>
</th:block>


</body>
</html>