<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<body>


<!--Group title-->
<div th:fragment="title(group, index)" class="card-header" role="tab" id="headingOne">
    <h5 class="mb-0">
        <a data-toggle="collapse" th:href="'#collapse' + ${index}" aria-expanded="true" aria-controls="collapseOne">
            <i th:if="${group.password} != null" class="icomoon icon-lock"></i>
            <i th:if="${group.password} == null" class="icomoon icon-unlocked"></i>
            <a th:text="${group.name}"></a>
            <a th:if="${#list.contains(${memberList},${group})}" href="#"
               class="btn btn-primary btn-sm pull-right ml-1">Zapisz &rarr;</a>
            <a th:if="${user.id} == ${group.user.id}" href="#" class="btn btn-primary btn-sm pull-right ml-1">Edytuj</a>
            <a th:if="${user.id} == ${group.user.id}" href="#" class="btn btn-primary btn-sm pull-right ml-1">Usuń</a>
        </a>
    </h5>
</div>

<!--Group description -->
<div th:fragment="description(group, index)" th:id="'collapse'+${index}" class="collapse" role="tabpanel"
     aria-labelledby="headingOne">
    <div class="card-body">
        <p class="card-text" th:text="${group.description}"></p>
    </div>
</div>

<!--Group author -->
<div th:fragment="author(group, index)" class="card-footer text-muted">
    Dodano przez: <a href="#" th:text="${group.user.name}">Filip S.</a>
</div>

</body>
</html>