<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="System do rozwiązywania zadań online"/>
    <meta name="author" content="Studenci Instytutu Wrocławskiego"/>
    <link rel="icon" href="images/favicon.ico"/>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" type='text/css'/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/uwr.css}" rel="stylesheet"/>
</head>
<body>

<!-- Navigation -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault"
                 th:with="url=${#httpServletRequest.getRequestURI()}">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="(url=='/') ? 'active'"
                           th:href="@{/}">Sprawdzarka
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" th:unless="${user}" href="#">Grupy</a>
                        <a class="nav-link" th:if="${user}" th:href="@{/grupy}"
                           th:classappend="${#strings.contains(url,'/grupy')} ? 'active'">
                            Grupy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" th:unless="${user}" href="#">Historia</a>
                        <a class="nav-link" th:if="${user}" th:href="@{/historia}"
                           th:classappend="${#strings.contains(url,'/historia')} ? 'active'">
                            Historia
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" th:unless="${user}" href="#">Statystyki</a>
                        <a class="nav-link" th:if="${user}" th:href="@{/statystyki}"
                           th:classappend="${#strings.contains(url,'/statystyki')} ? 'active'">
                            Statystyki
                        </a>
                    </li>
                </ul>
                <a th:href="@{/login}" th:unless="${user}">
                    <button class="btn btn-outline-primary btn-sm"> Zaloguj</button>
                </a>
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" th:if="${user}">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ustawienia</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Logo-->
    <div class="jumbotron">
        <div class="container">
            <img th:src="@{/images/logo.jpg}" class="img-fluid" alt="Uniwersytet Wrocławski"/>
        </div>
    </div>

    <!--Breadcrumbs-->
    <div th:if="${breadcrumbs}" class="container">
        <ol class="breadcrumb">
            <li th:each="breadcrumb, iterStatus : ${breadcrumbs}" class="breadcrumb-item"
                th:classappend="(${iterStatus.last})?'active'">
                <a th:href="@{${breadcrumb.link}}"
                   th:text="${breadcrumb.text}"
                   th:unless="${iterStatus.last}"></a>
                <span th:text="${breadcrumb.text}"
                      th:if="${iterStatus.last}"></span>
            </li>
        </ol>
    </div>
</header>

<!-- Bootstrap core JavaScript -->
<div th:fragment="script">
    <script th:src="@{/js/jquery-3.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</div>
</body>
</html>