<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="head (title)">
    <title th:text="${title}">Sprawdzarka UWr</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="System do rozwiązywania zadań online"/>
    <meta name="author" content="Studenci Instytutu Wrocławskiego"/>
    <link rel="icon" href="images/favicon.ico"/>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" type='text/css'/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/uwr.css}" rel="stylesheet"/>
</head>
<body>

<!-- Navigation -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault"
                 th:with="url=${#httpServletRequest.getRequestURI()}">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="(url=='/') ? 'active'"
                           th:href="@{/}"><i class="fa fa-home" aria-hidden="true"></i> Aktualności
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/grupy}"
                           th:classappend="${#strings.contains(url,'/grupy')} ? 'active'">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Grupy
                        </a>
                    </li>
                    <!--<li class="nav-item" sec:authorize="isAuthenticated()">-->
                    <!--<a class="nav-link" th:href="@{/historia}"-->
                    <!--th:classappend="${#strings.contains(url,'/historia')} ? 'active'">-->
                    <!--Historia-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item" sec:authorize="isAuthenticated()">-->
                    <!--<a class="nav-link" th:href="@{/statystyki}"-->
                    <!--th:classappend="${#strings.contains(url,'/statystyki')} ? 'active'">-->
                    <!--Statystyki-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>

                <a th:href="@{/login}" sec:authorize="not isAuthenticated()">
                    <button class="btn btn-outline-primary btn-sm"> Zaloguj</button>
                </a>

                <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
                    <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-sign-out"></i> Wyloguj</button>
                </form>

            </div>
        </div>
    </nav>
    <div class="mb-4">
        <!--Logo-->
        <div class="jumbotron logo mb-0 pb-0">
            <div class="container">
                <a th:href="@{/}">
                    <img th:src="@{/images/logo.jpg}" class="img-fluid" alt="Uniwersytet Wrocławski"/>
                </a>
            </div>
        </div>

        <!--Breadcrumbs-->
        <div th:if="${session.breadCrumb} and ${breadcrumb}" class="container">
            <ol class="breadcrumb mb-0">
                <li th:each="entry, iterStatus : ${session.breadCrumb}" class="breadcrumb-item"
                    th:classappend="(${iterStatus.last})?'active'">
                    <a th:href="@{${entry.url}}"
                       th:text="${entry.label}"
                       th:unless="${iterStatus.last}"></a>
                    <span th:text="${entry.label}"
                          th:if="${iterStatus.last}"></span>
                </li>
            </ol>
        </div>
    </div>
    <th:block th:if="${alertMessage != null}">
        <div th:replace="shared/message :: alert"></div>
    </th:block>
</header>

<!-- Bootstrap core JavaScript -->
<div th:fragment="script">
    <script th:src="@{/js/jquery-3.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/run_prettify.js}"></script>
</div>
</body>
</html>