<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<th:block th:fragment="scores(scores, outputButton)">
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Czas</th>
                <th scope="col">Punkty</th>
                <th scope="col">Status</th>
                <th th:if="${outputButton}" scope="col">Wynik</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="score: ${scores}">
                <td th:include="shared/fragments :: test_timeFormat(time = ${score.executionTime})">150ms</td>
                <td th:text="${score.point}"></td>
                <td th:include="shared/fragments :: test_state(state = ${score.state})">RE</td>
                <td th:if="${outputButton}">
                    <a th:href="@{/wynik_testu/{id}(id=${score.id})}">
                        <div class="btn btn-light btn-sm">
                            Wyświetl
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

<th:block th:fragment="history(solutions)">
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Data wysłania</th>
                <th scope="col">Rozwiązanie</th>
                <th scope="col">Uzyskane punkty</th>
                <th scope="col">Język</th>
                <th scope="col">Szczegóły</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="solution: ${solutions}">

                <td th:text="${#calendars.format(solution.DateOfSending,'dd MMMM hh:mm')}"></td>
                <td>
                    <button type="button" class="btn btn-light btn-sm" data-toggle="modal"
                            th:attrappend="data-target='#solution_code' + ${solution.id} + '-modal'">Wyświetl
                    </button>

                    <th:block th:replace="shared/fragments :: modal(id='solution_code'+${solution.id}+'-modal', header = ~{::div#code_modal_header},body = ~{::div#code_modal_body}, modalDialogClass='modal-lg')">
                        <div id="code_modal_header">
                            <th:block>Kod</th:block>
                        </div>
                        <div id="code_modal_body">
                            <pre class="prettyprint border-0 text-left" style="font-size: 0.75rem;" th:text="${solution.solution}"></pre>
                        </div>
                    </th:block>
                </td>

                <td th:include="shared/fragments :: progress_bar(scores = ${solution.scores})">progress bar</td>
                <td th:include="shared/fragments :: language_format(language = ${solution.language})">Język</td>

                <td>
                    <div class="btn btn-light btn-sm" data-toggle="modal" th:attrappend="data-target='#' + ${solution.id}">Wyświetl</div>

                    <th:block th:replace="shared/fragments :: modal(id=${solution.id}, header = ~{::div#modal_header},body = ~{::div#modal_body})">
                        <div id="modal_header">
                            <th:block>Testy</th:block>
                        </div>
                        <div id="modal_body">
                            <th:block th:replace="shared/tables :: scores(scores=${solution.scores}, outputButton=true)">
                                Tabela z wynikami
                            </th:block>
                        </div>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

<th:block th:fragment="tests(tests)">
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Input</th>
                <th scope="col">Output</th>
                <th scope="col">Timeout</th>
                <th scope="col">Score</th>
                <th scope="col">Type</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="test: ${tests}">
                <td>
                    <a th:if="${#strings.length(test.inputArgument)} > 100"
                       th:href="@{/testy/{id}/argumenty_wejsciowe (id = ${test.id})}">
                        <div class="btn btn-light btn-sm">
                            Wyświetl
                        </div>
                    </a>
                    <div th:unless="${#strings.length(test.inputArgument)} > 100"
                         th:attrappend="data-target='#input' + ${test.id} + '-modal'"
                         class="btn btn-light btn-sm" data-toggle="modal">Wyświetl

                        <th:block th:replace="shared/fragments :: modal(id='input'+${test.id}+'-modal', header = ~{::div#input_modal_header},body = ~{::div#input_modal_body})">
                            <div id="input_modal_header">
                                <th:block>Input</th:block>
                            </div>
                            <div id="input_modal_body">
                                <p th:text="${test.inputArgument}"></p>
                            </div>
                        </th:block>

                    </div>

                </td>
                <td>
                    <a th:if="${#strings.length(test.expectedAnswer)} > 100"
                       th:href="@{/testy/{id}/oczekiwana_odpowiedz (id = ${test.id})}">
                        <div class="btn btn-light btn-sm">
                            Wyświetl
                        </div>
                    </a>
                    <div th:unless="${#strings.length(test.expectedAnswer)} > 100"
                         th:attrappend="data-target='#output' + ${test.id} + '-modal'"
                         class="btn btn-light btn-sm" data-toggle="modal">
                        Wyświetl

                        <th:block th:replace="shared/fragments :: modal(id='output'+${test.id}+'-modal', header = ~{::div#output_modal_header},body = ~{::div#output_modal_body})">
                            <div id="output_modal_header">
                                <th:block>Output</th:block>
                            </div>
                            <div id="output_modal_body">
                                <p th:text="${test.expectedAnswer}"></p>
                            </div>
                        </th:block>

                    </div>
                </td>
                <td th:include="shared/fragments :: test_timeFormat(time = ${test.timeRequired})">150ms</td>
                <td th:text="${test.point}"></td>
                <td><span th:text="${test.type}" data-toggle="tooltip" data-placement="top" th:title="${test.type.title}" class="badge" th:classappend="${test.type.badgeClass}">Public</span></td>
                <td>
                    <a data-toggle="tooltip" data-placement="top" title="Usuń test"
                       th:href="@{'/usun_test/'+${task.id}+'/'+${test.id}}">
                        <div class="btn btn-danger btn-sm">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>


</body>
</html>