<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<th:block th:fragment="scores(scores, outputButton)">
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Czas</th>
                <th scope="col">Punkty</th>
                <th scope="col">Status</th>
                <th th:if="${outputButton}" scope="col">Wynik</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="score: ${scores}">
                <td th:include="shared/fragments :: test_timeFormat(time = ${score.executionTime})">150ms</td>
                <td th:text="${score.point}"></td>
                <td th:include="shared/fragments :: test_state(state = ${score.state})">RE</td>
                <td th:if="${outputButton}">
                    <a th:href="@{/wynik_testu/{id}(id=${score.id})}">
                        <div class="btn btn-light btn-sm">
                            Wyświetl
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

<th:block th:fragment="history(solutions)">
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Data wysłania</th>
                <th scope="col">Rozwiązanie</th>
                <th scope="col">Uzyskane punkty</th>
                <th scope="col">Język</th>
                <th scope="col">Szczegóły</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="solution: ${solutions}">

                <td th:text="${#calendars.format(solution.DateOfSending,'dd MMMM hh:mm')}"></td>
                <td>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1"
                         th:id="'solution_code'+${solution.id}+'-modal'" role="dialog"
                         aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content p-3">
                                <pre class="prettyprint border-0 text-left" th:text="${solution.solution}"></pre>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-light btn-sm" data-toggle="modal"
                            th:attrappend="data-target='#solution_code' + ${solution.id} + '-modal'">Wyświetl
                    </button>
                </td>

                <td th:include="shared/fragments :: progress_bar(scores = ${solution.scores})">progress bar</td>
                <td th:include="shared/fragments :: language_format(language = ${solution.language})">Język</td>

                <td>
                    <div class="btn btn-light btn-sm" data-toggle="modal" th:attrappend="data-target='#solution' + ${solution.id} + '-modal'">Wyświetl</div>
                    <div th:replace="shared/task/history :: modal"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

<th:block th:fragment="tests(tests)">
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Input</th>
                <th scope="col">Output</th>
                <th scope="col">Timeout</th>
                <th scope="col">Score</th>
                <th scope="col">Type</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="test: ${tests}">
                <td>
                    <a th:if="${#strings.length(test.inputArgument)} > 100"
                       th:href="@{/testy/{id}/argumenty_wejsciowe (id = ${test.id})}">
                        <div class="btn btn-light btn-sm">
                            Wyświetl
                        </div>
                    </a>
                    <div th:unless="${#strings.length(test.inputArgument)} > 100"
                         th:attrappend="data-val=${test.inputArgument}" data-id='Argumenty wejściowe'
                         class="btn btn-light btn-sm" data-toggle="modal" data-target="#test-modal">Wyświetl
                    </div>
                </td>
                <td>
                    <a th:if="${#strings.length(test.expectedAnswer)} > 100"
                       th:href="@{/testy/{id}/oczekiwana_odpowiedz (id = ${test.id})}">
                        <div class="btn btn-light btn-sm">
                            Wyświetl
                        </div>
                    </a>
                    <div th:unless="${#strings.length(test.expectedAnswer)} > 100"
                         th:attrappend="data-val=${test.expectedAnswer}" data-id='Oczekiwana odpowiedź'
                         class="btn btn-light btn-sm" data-toggle="modal" data-target="#test-modal">Wyświetl
                    </div>
                </td>
                <td th:include="shared/fragments :: test_timeFormat(time = ${test.timeRequired})">150ms</td>
                <td th:text="${test.point}"></td>
                <td>
                    <th:block th:switch="${test.type.id}">
                    <span th:case="0" th:text="${test.type}" data-toggle="tooltip" data-placement="top"
                          th:title="${test.type.title}" class="badge badge-primary">Public</span>
                        <span th:case="1" th:text="${test.type}" data-toggle="tooltip" data-placement="top"
                              th:title="${test.type.title}" class="badge badge-secondary">Private</span>
                        <span th:case="*" th:text="${test.type}" data-toggle="tooltip" data-placement="top"
                              th:title="${test.type.title}" class="badge badge-dark">Hidden</span>
                    </th:block>
                </td>
                <td>
                    <a data-toggle="tooltip" data-placement="top" title="Usuń test"
                       th:href="@{'/usun_test/'+${task.id}+'/'+${test.id}}">
                        <div class="btn btn-danger btn-sm">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>


</body>
</html>